@font-face {
  font-family: 'Audiowide';
  src: url('../../resources/Audiowide-Regular.ttf');
}

.ui.header.white {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 40px;
  font-family: 'Audiowide', Fallback, helvetica;
  text-transform: uppercase;
}

.ui.text.container.body-container {
    max-width: 100% !important;
    width: 100%;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url('../../resources/car-wallpaper.jpg') no-repeat 0 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: space-between;
}

.body-container h3 {
  font-size: 14px;
  margin: 0;
  text-align: center;
  font-style: italic;
}

.body-container p.mission {
  font-size: 24px;
  max-width: 630px;
  margin: 0;
}

.body-container p.quote {
  font-size: 32px;
  font-style: italic;
  margin: 0;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quick-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 800px;
}

.quick-link {
  width: 120px;
  font-size: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quick-link:hover {
  color: #2185d0;
}

@media (max-width: 767px) {
    .ui.container.body-container {
      padding-top: 15px;
      height: calc(100vh - 52px);
      margin: 0 !important;
    }

    .ui.header.white {
        font-size: 23px;
        line-height: 28px;
        margin-bottom: 15px;
    }

    .body-container h3 {
      font-size: 12px;
      margin: 15px 0 0;
    }

    .body-container div.info {
      font-size: 14px;
      max-width: 250px;
      display: block;
    }

    .body-container div span {
      font-size: 28px;
      font-weight: bold;
      color: #32CD32;
      margin-right: 0;
    }

    .body-container p.mission {
      font-size: 16px;
      max-width: 245px;
      margin-bottom: 20px;
    }
}
